.esSearchForm {
    text-align: left;
}

.esSearchForm .esResultHeader,
.esSearchForm #esSearchLocation,
.esSearchForm .searchResults,
.esSearchForm .emptySearchResults,
.esSearchForm div.esSearchOptions,
.esSearchForm .listingBar {
  display: none;
}

#search-main-row {
    clear: both;
}


#extended-search {
    border: 1px solid #ddd;
}

legend#extended-search:hover {
    text-decoration: underline;
}

.search-option-row {
    margin-bottom: 1em;
    margin-right: 1em;
    float: left;
    min-width: 150px;
    max-width: 250px;
}

.all-none {
    margin-top: 1em;
}

.search-option-row a {
    border-bottom: 1px solid #aaa;
}

.search-option-row label.title {
    margin-bottom: 0.5em;
    display: block;
}

.search-option-row option {
    padding: 3px;
}

.search-result-item {
    margin-bottom: 1.5em;
}

.search-result-item .title-url {
    font-weight: bold;
    font-size: 1.2em;
}

.search-result-item .description {
    display: inline;
}

.search-result-item .description:before {
    content: "Description: ";
    display: inline;
    font-weight: bold;
}

.search-result-item .content:before {
    content: "Content: ";
    display: inline;
    font-weight: bold;
}


.search-result-item .author:before {
    content: "Author: ";
    display: inline;
    font-weight: bold;
}


.search-result-item .review-state:before {
    content: "State: ";
    display: inline;
    font-weight: bold;
}


.search-result-item .portal-type:before {
    content: "Type: ";
    display: inline;
    font-weight: bold;
}


.search-result-item .language:before {
    content: "Language: ";
    display: inline;
    font-weight: bold;
}

.search-result-item .url:before {
    content: "URL: ";
    display: inline;
    font-weight: bold;
}


.search-result-item .modified:before {
    content: "Modified: ";
    display: inline;
    font-weight: bold;
}

.search-result-item .subjects:before {
    content: "Tags: ";
    display: inline;
    font-weight: bold;
}

.search-result-item .subjects a+a:before {
    content: " | ";
} 

.search-result-item em {
    font-weight: bold;
    background: yellow;
}

.search-result-item-details {
    border-left: 3px solid #ddd;
    padding-left: 1em;
}

#search-result-hits {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em;
}

.two-column {
    column-count: 2;
    -webkit-column-count: 2;
}

#content ul.details {
    list-style-type: none;
    font-size: 0.8em;
}

#content ul.details li {
    display: inline;
    margin-right: 1em;
    font-size: 0.8em;
}

#query {
    width: 100%;
    text-align: left;
}

.search-main-row {
    text-align: center;
    display: table;
    margin: 0 auto;
    width: 60%;
}

.align-left {
    text-align: left;
}


#search-query {
    font-style: italic;
}

#search-query:after,
#search-query:before {
    content: '"';
}

/* Controlpanel */

.template-elasticindex-settings-controlpanel  #content-core input.textline-field {
    width: 400px;
}


/* Translations */
html[lang="de"] .search-result-item .description:before {
    content: "Beschreibung: ";
}

html[lang="de"] .search-result-item .content:before {
    content: "Inhalt: ";
}

html[lang="de"] .search-result-item .author:before {
    content: "Autor: ";
}

html[lang="de"] .search-result-item .review-state:before {
    content: "Status: ";
}

html[lang="de"] .search-result-item .portal-type:before {
    content: "Artikeltyp: ";
}

html[lang="de"] .search-result-item .language:before {
    content: "Sprache: ";
}

html[lang="de"] .search-result-item .url:before {
    content: "URL: ";
}

html[lang="de"] .search-result-item .modified:before {
    content: "zuletzt geändert: ";
}

html[lang="de"] .search-result-item .subjects:before {
    content: "Schlüsselworte: ";
}


/* experimental new search form integration */

#es-search-form {
}

#es-submit {
    font-size: 2em;
}

#es-query {
    border: 0;
    border-bottom: 1px solid #ddd;
    width: 85%;
    font-size: 2em;
}

#toggle-es-search-form:before {
    content: url('++resource++collective.elasticindex/search.png');
}
